<!DOCTYPE html>
<html>
    <head>
        <title>Crear Estudiante</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/estudiante">Lista de Productos</a></h3>
            <h1>Crear Nuevo Producto</h1>
            <form action="/estudiante/save" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>Código</td>
                            <td><input type="text" name="codigo" /></td>
                        </tr>
                        <tr>
                            <td>Nombre</td>
                            <td><input type="text" name="nombre" /></td>
                        </tr>
                        <tr>
                            <td>Escala</td>
                            <td><input type="text" name="escala" /></td>
                        </tr>
                        <tr>
                            <td>Promedio</td>
                            <td><input type="number" name="promedio" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Grabar" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>